version: '3'
services:
  db:
    hostname: db
    image: postgres
    volumes:
      - ./tmp/db:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "8001:5432"
    environment:
      - POSTGRES_USER=postgres
  app:
    build: .
    depends_on:
      - db
    command: bash -c "yarn install --check-files && bundle exec rails s -p 3000 -b '0.0.0.0'"
    volumes:
      - .:/app
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - gem_cache:/usr/local/bundle/gems
      - node_modules:/app/node_modules
    env_file: .env
    environment:
      RAILS_ENV: development

volumes:
  gem_cache:
  db_data:
  node_modules:
