<h1>Listagem de projetos</h1> 

<%= link_to 'Novo Projeto', projects_new_path %>

<p>Opa, bem vindo</p>

<% @projects.each do |project| %>
  <p>Titulo = <%= project.title %> Descriçao = <%= project.description %></p>
  <br>
<% end %>
